ClientSOAPMAP/src/META-INF/wsdl/localhost_8080/WebSOAPMAP/RecupererXML.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServiceXML/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServiceXML/" name="RecupererXML">
<types>
<xsd:schema>
<xsd:import namespace="http://ServiceXML/" schemaLocation="http://localhost:8080/WebSOAPMAP/RecupererXML?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="listMetar">
<part name="parameters" element="tns:listMetar"/>
</message>
<message name="listMetarResponse">
<part name="parameters" element="tns:listMetarResponse"/>
</message>
<message name="getIdMetar">
<part name="parameters" element="tns:getIdMetar"/>
</message>
<message name="getIdMetarResponse">
<part name="parameters" element="tns:getIdMetarResponse"/>
</message>
<portType name="RecupererXML">
<operation name="test">
<input wsam:Action="http://ServiceXML/RecupererXML/testRequest" message="tns:test"/>
<output wsam:Action="http://ServiceXML/RecupererXML/testResponse" message="tns:testResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://ServiceXML/RecupererXML/test/Fault/JAXBException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://ServiceXML/RecupererXML/test/Fault/MalformedURLException"/>
</operation>
<operation name="listMetar">
<input wsam:Action="http://ServiceXML/RecupererXML/listMetarRequest" message="tns:listMetar"/>
<output wsam:Action="http://ServiceXML/RecupererXML/listMetarResponse" message="tns:listMetarResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://ServiceXML/RecupererXML/listMetar/Fault/JAXBException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://ServiceXML/RecupererXML/listMetar/Fault/MalformedURLException"/>
</operation>
<operation name="getIdMetar">
<input wsam:Action="http://ServiceXML/RecupererXML/getIdMetarRequest" message="tns:getIdMetar"/>
<output wsam:Action="http://ServiceXML/RecupererXML/getIdMetarResponse" message="tns:getIdMetarResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://ServiceXML/RecupererXML/getIdMetar/Fault/JAXBException"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://ServiceXML/RecupererXML/getIdMetar/Fault/MalformedURLException"/>
</operation>
</portType>
<binding name="RecupererXMLPortBinding" type="tns:RecupererXML">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
</operation>
<operation name="listMetar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
</operation>
<operation name="getIdMetar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RecupererXML">
<port name="RecupererXMLPort" binding="tns:RecupererXMLPortBinding">
<soap:address location="http://localhost:8080/WebSOAPMAP/RecupererXML"/>
</port>
</service>
</definitions>